@import "/page/talkTemplate/talkTemplate.css";
.fullscreen {
    margin: 0 auto;
    /* background: #fff; */
    overflow: hidden;
    position: relative;
}

.pageBd {
    position: relative;
    padding: 8px 10px;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    box-sizing: border-box;
    background-color: #EFEFF4;
}
.sureClass{
    width:10%;
    font-size:12px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    padding-left: 5px;
}
.quxiaoClass{
    color: red;
}
.searchBar{
    padding-right:38px;
    content: '';
    left: 0;
    top: 0;
    /* width: 80%; */
    width: 100%;
    float: left;
    border-radius: 10px;
    border: 1px solid #E6E6EA;
    box-sizing: border-box;
    background: #FFFFFF;
    font-size:14px;
    color:#9B9B9B;
    height: 30px;
    line-height: 30px;
}
.pad100{padding-left:30px;}

.hot{
    /*margin-top: 10px;*/
    background-color:beige;
    padding: 15px;
    overflow: hidden;
}
.titleClass{
    margin-bottom: 10px;
    font-size:14px;
    color:#38f;
}
.hotLi{
    float: left;
    background-color:#FFFFFF;
    width: 29%;
    margin: 5px;
    height:30px;
    line-height:30px;
    text-align: center;
    border-radius:10px;
    font-size:12px;
}
.nearby{
    background-color:beige;
    text-align: center;
    padding: 10px 0px;
    line-height: 26px;
    height: 26px;
}

.j_HotJobsIndustryList {
  margin-bottom: 8px;
  overflow: hidden;
  clear: both;
}

.j_HotJobsIndustryList .dt, .model .h3 {
  width: 100%;
  height: 35px;
  line-height: 35px;
  background-size: 5px 16px;
  background-position: left center;
}

.j_HotJobsIndustryList .dt span {
  margin: 0 5px;
  padding: 0 10px;
  float: left;
  display: block;
  line-height: 35px;
  font-size: 12px;
  font-family: "微软雅黑";
  text-shadow: none;
  font-weight: 400 !important;
}

.j_HotJobsIndustryList .dd {
  padding: 0px 18px;
  margin: 8px;
  font-size: 12px;
  color: #7a7a7a;
  float: left;
  height: 36px;
  line-height: 36px;
  text-align: center;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
  border-radius:8px;
  background:#fff;
}




.criteria_set_box .template {padding: 10px 15px 15px 15px;border-bottom: 1px solid #eeeeee;}
.criteria_set_box .template .content {overflow: hidden;}
.content navigator{background:#38f;color:#ffffff !important;}
.criteria_set_box .template .li {width: 23%;height: 27px;margin-right: 2%;margin-top: 8px;float: left;overflow:hidden;
text-overflow:ellipsis;white-space:nowrap;}
.criteria_set_box .template .li a.active {background: #38f;border: 1px solid #38f;color: #ffffff;border-radius: 2px;font-size: 12px;line-height: 25px;text-align: center;display: block;}
.criteria_set_box .template .li a {display: block;border: 1px solid #dddddd;border-radius: 2px;font-size: 12px;color: #888888;line-height: 25px;text-align: center;}
.criteria_set_box .siftings-content .button {position: fixed;bottom: 27px;background-color: #fff;}
.criteria_set_box .button {padding: 15px 15px;overflow: hidden;}
.criteria_set_box .button .lbtn {border: 1px solid #dddddd;background: #38f;color: #ffffff;width: 100%;position:fixed !important;z-index:88;bottom:0;left:0;right:0;height: 50px;line-height: 50px;}
.criteria_set_box .button button {width: 48%;height: 36px;font-size: 14px;text-align: center;float: left;border-radius: 2px;}
.criteria_set_box .siftings-content .close_btn {position: fixed;bottom: 0;}
.criteria_set_box .close_btn {background: #fbfbfb;border-top: 1px solid #eeeeee;}
.criteria_set_box .close_btn a {display: block;height: 10px;padding: 8px 0;}
.criteria_set_box{ top: 1px; width: 100%; box-sizing: border-box;}
.mar80{margin-bottom: 58px;}


.btnType{
    display: block;
    margin-top:8px;
    color: #ffffff;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    border: 1px solid #eee;
    height: 30px;
    line-height: 30px;
    padding-left: 10px;
    font-size:12px;
}

.btnType:after {
    content: ' ';
    position: absolute;
    top: 60%;
    margin-top: -4px;
    right: 5%;
    width: 6px;
    height: 6px;
    border: #FFFFFF solid;
    -webkit-transform: rotate(45deg);
    border-width: 2px 2px 0 0;
}

.searchList{
    background-color:#fff;
    border-left:1px solid #f3f3f3;
    -webkit-transform:translateZ(0);
    transform:translateZ(0);
    z-index:88888;
    width:100%;
    position:fixed;
    top:46px;
}
.searchList .li{
     border-bottom: 1px solid #E6E6EA;
     height: 40px;
     line-height: 40px;
     padding: 0px 10px; 
     position: relative;
}
.current {
    background: #fff;
    border-left: 0;
    margin-top: -1px;
    width: 100%;
}
.current .li2 {
    border-bottom-color: #f8f8f8;
    width: 100%;
    height: 36px;
    line-height: 36px;
    position: relative;
    border-bottom: 1px solid #f3f3f3;
    padding: 0 15px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    -webkit-tap-highlight-color: rgba(255,255,255,0);
}
.mask {
    background: #4b4b4b;
    width: 100%;
    height: 100%;
    opacity: .6;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    pointer-events: auto;
}
.duoxuan{
  font-size: 12px;
  color: red;
}