.apply{
    background: #f5f5f5;
    padding-top: 15px;
}
.template_main6 {
    background: #ffffff;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
.template_main6 .dl {
    margin-left: 15px;
    border-bottom: 1px solid #eee;
    position: relative;
}

.template_main6 .dl .dt {
    height: 46px;
    width: 100px;
    line-height: 46px;
    position: absolute;
    top: 0;
    padding-left: 15px;
    color: #222222;
}
.template_main6 .dt .asterisk {
    display: inline-block;
    position: absolute;
    left: 0px;
}
.template_main6 .dl .dd {
    padding-left: 115px;
    padding-right: 15px;
}
.yTip .dl .dt, .dd {
    line-height: 20px;
    font-size: 12px;
    color: #888;
}
.template_main6 .dl .dd .select_box {
    height: 18px;
    padding: 14px 10px 14px 0;
    font-size: 14px;
    line-height: 18px;
    color: #555555;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.template_main6 .dl .dd .select_box::after {
    content: '';
    position: absolute;
    top: 50%;
    margin-top: -3px;
    right: 15px;
    width: 6px;
    height: 6px;
    border: #aaaaaa solid;
    -webkit-transform: rotate(45deg);
    border-width: 2px 2px 0 0;
}
.template_main6 .dl .dd input {
    padding: 14px 10px 14px 10px;
    margin-left: -10px;
    border: none;
    text-align: right;
    color: #555555;
}
.btn {
    text-align: center;
    padding: 15px 15px;
}
.btn1_submit {
    width: 100%;
    background: #38f;
    border: 0;
    height: 45px;
    line-height: 45px;
    font-size: 16px;
    color: #fff;
    display: inline-block;
    cursor: pointer;
    border-radius: 2px;
}